<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial factura</title>
    <link rel="stylesheet" href="historial_factura.css">
</head> 
<body>
    <!-- Barra superior -->
    <div class="top-bar">
        <div class="left-side">
            <a href="visualizacion_Admin.html">
                <img src="/img/Logo azul sin fondo.png" alt="EcoFact Logo" class="logo1" />
                <img src="/img/logo empresa.png" alt="Empresa logo " class="logo2" />
            </a>
        </div>

        <div class="right-side">
            <a href="documentos.html"><img src="/img/documento.png" class="icono"></a>
            <a href="actualizar_perfil.html"><img src="/img/editar.png" class="icono"></a>
            <a href="/cambiocontraseña"><img src="/img/contrasena.png" class="icono"></a>
            <a href="/login.html"><img src="/img/cerrar-sesion.png" class="icono"></a>
            
        </div>
    </div>

  <!-- Navegación --> 
  <header>
  <nav class="menu">
    <a href="visualizacion_Admin.html"> Inicio</a>
  </nav>
  </header> 


  <div class="filtros">
    <div class="titulo">HISTORIAL DE FACTURAS</div>

    <div class="filtros-linea">

      <div class="campo-fecha">
        
        <div class="fechainicial">
          <label for="fecha-inicial">Fecha Inicial</label>
        <input type="date" id="fecha-inicial" />
        </div>

        <div class="fechafinal"> 
          <label for="fecha-final">Fecha Final</label>
        <input type="date" id="fecha-final" />
        </div>

      </div> 


      </div>
       <div class="campo-boton">
        <button class="boton-buscar">BUSCAR</button>
      </div>

    </div>
  </div> 
</div>
    <!-- Tabla -->
    <div class="cuadro-tabla"> 
      <table class="tabla-facturas"> 
      </table>
    </div> 
  </div> 
 
  
  <!-- Pie de página -->
    <footer>
        <div class="footer-bar"> 
            <div class="footer-item">
                <img src="/img/mensaje (1).png" alt="Correo"> 
                Ecofactproyect@gmail.com
            </div>
            <div class="footer-item">
                <img src="/img/llamada-telefonica (1).png" alt="Teléfono"> 
                333-333-333
            </div>
        </div>
        <div class="footer-bottom">@2025-ECOFACT</div> 
    </footer>
    
  <script src="historial_factura.js"></script>
</body>
</html>
